'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Dartino'
        submenu: [
          { label: 'Run app on device', command: 'dartino:run-app-on-device' }
          { type: 'separator' }
          { label: 'Package Settings…', command: 'dartino:settings' }
        ]
      }
    ]
  }
]
